graft bin
graft cmake
graft docs
graft include
graft lib
graft python/src
graft python/test
graft python/triton
graft test
graft third_party/ascend/AscendNPU-IR
graft third_party/ascend/Triton-distributed-ascend/include
graft third_party/ascend/Triton-distributed-ascend/lib
graft third_party/ascend/Triton-distributed-ascend/python/src
graft third_party/ascend/Triton-distributed-ascend/python/triton_dist
graft third_party/ascend/backend
graft third_party/ascend/costmodel
graft third_party/ascend/bin
graft third_party/ascend/include
graft third_party/ascend/language
graft third_party/ascend/lib
graft third_party/ascend/triton_ascend.cc
graft third_party/ascend/ascend_ir.cc
graft third_party/nvidia
graft third_party/amd
graft third_party/proton
graft third_party/f2reduce
graft unittest
include CMakeLists.txt
include Makefile
include python/build_helpers.py
include python/requirements.txt
include python/test-requirements.txt
